@import "../../styles/mixins";

.wrapper {
    background-color: #282828;
    @include adaptiveSize(1170px, 1600px, 770px, 900px);
    border-radius: 62px;
    @include adaptivePosition(65px, 900px, 215px, 1600px);
    box-shadow: 0 0 35px 0 #3500d3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
