.signUp {
    margin: 5px;
    width: 75%;
    height: 90%;
    background: linear-gradient(to bottom right, #27009b, #1b006d);
    position: relative;
    border-radius: 62px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p {
        font-size: large;
        color: #b73201;
    }
}

.btnContainer {
    height: 13%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
