:root {
    --primary-gradient: linear-gradient(to bottom, #3500d3, #1b006d);
    --border-radius-large: 60px;
    --border-radius-medium: 50px;
}

.wrapper {
    width: 48%;
    height: 100%;
    background-color: #0c0032;
    border-radius: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    width: 60%;
    height: 40%;
    background: linear-gradient(to bottom, #3500d3, #1b006d);
    border-radius: 50px;
    font-size: large;
    color: white;
    padding-left: 4%;
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(53, 0, 211, 0.3);
    }
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    border: none;
}
.dropdown {
    width: 20%;
    height: 40%;
    background: linear-gradient(to bottom, #3500d3, #1b006d);
    border-radius: 50px;
    font-size: large;
    color: white;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    position: relative;
    &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.select {
    width: 80%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding-right: 20px;

    &::-ms-expand {
        display: none;
    }

    option {
        background-color: #0c0032;
        color: white;
    }
}

.img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &.rotated {
        transform: translateY(-50%) rotate(270deg);
    }
}
